{% load static %}
<footer>
    <div class="container">
        <div class="row border-bottom" style="padding-top: 1px; padding-bottom: 20px">
            <div class="col-12 col-md">
                <img src="{% static 'fonts/img/homelogo.png' %}" alt="" width="200">
            </div>
            <div class="col-12 col-md" style="padding-top: 40px">
                <p>Улаанбаатар хот, БГД 16-р хороо Амарсанаа гудамж, Ми-Сон оффис 1 давхарт 101 тоот</p>
            </div>
            <div class="col-12 col-md" style="padding-top: 40px">
                <ul class="list-unstyled text-small">
                    <li>Утас: <span class="font-big">976 7755-1515, 8060-1515</span></li>
                    <li>И-мэйл: test@naturelove.mn</li>
                </ul>
            </div>
        </div>

        <div class="d-flex bd-highlight p-2">
            <div class="p-2 bd-highlight text-grey">Copyright 2019 NaturelovemereMongolia.</div>
            <div class="ml-auto p-2 bd-highlight text-grey">All rights reserved.</div>
        </div>
    </div>
</footer>