{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between rounded">
    <a class="navbar-brand" href="#">
    </a>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09"
            aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="custom-nav navbar-collapse collapse" id="navbarsExample09" style="">
        <div class="top-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-green maromera-hover" href="{% url 'home' %}"><i class="fa fa-home"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-green maromera-hover" href="{% url 'blog:list' %}"><i class="fa fa-pencil-square-o"></i>Blog</a>
                </li>
            </ul>
        </div>

        <ul class="navbar-nav mr-auto">
            {% for category in categories|slice:":3" %}
                <li class="nav-item">
                    <a class="nav-link text-secondary maromera-hover" href="{% url 'category:detail' category.slug %}">{{ category }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>