@import url(fonts.css);

.panel ul a, .panel ul li a:hover, a:hover, .about, .intro {
    text-decoration: none
}

html {
    font-family: Roboto, sans-serif;
    font-weight: 400
}

body {
    font-family: Roboto, sans-serif!important;
    letter-spacing: 1px !important;
}

.text-secondary, .text-secondary-black, .text-secondary-white {
    font-family: CP, cursive
}

/*Maro mere*/
.maromere .maromere-image {
    width: 100%;
    object-fit: cover;
}

.maromere-header {
    text-align: center;
    padding: 80px
}

.maromere-text h1 {
    width: 35%;
    text-align: center;
    border-bottom: 2px solid #afa58a;
    line-height: 0.1em;
    margin: 0 auto;
}


.maromere-text span {
    background: #000000;
    padding: 0 10px;
}

.maromere .awards {
    padding: 130px 30px 40px 30px;
    border-bottom: 2px solid #afa58a;
}

.text-black {
    color: #000;
}

.maromere .award-image {
    width: 100%;
}

.maromere .video-section {
    margin: 4.5rem 0;
}

.maromere-green {
    padding: 20px;
    background-color: #76871a;
    color: #fff !important;
    font-size: 12px;
}

.maromere {
    background-color: #000000;
}

.maromere-text {
    text-align: center;
    font-family: Roboto, sans-serif;
    color: #afa58a !important;
    font-weight: 300!important;
}

.maromere-icon {
    width: 180px;
}

.maromere-footer {
    margin: 0;
    background-color: #000000;
}

/*Maro Mera End*/
@media (min-width: 768px) {
    .container-small {
        max-width: 570px;
    }
}

@media (min-width: 992px) {
    .container-small {
        max-width: 810px;
    }
}

@media (min-width: 1200px) {
    .container-small {
        max-width: 990px;
    }
}

.container-small {
    width: 100%;
}

button:focus {
    outline: 0
}

.text-secondary {
    color: #744c17 !important
}

.text-secondary-black {
    color: #000 !important
}

.text-secondary-white {
    color: #fff !important
}

.text-green {
    color: #76871a !important
}

.text-grey {
    color: #b3b3b3 !important
}

.site-logo {
    width: 280px !important;
}

.carousel {
    padding: 20px;
    border: 1px solid #afa58a;
    margin: 40px 0 40px 0;
}

.carousel-inner img {
    object-fit: cover;
    width: 100%
}

.about {
    padding-top: 50px;
    margin: 0 auto;
    width: 60%;
    text-align: center
}

.about h2 {
    margin: 10px
}

.about p {
    margin-top: 5px;
    margin-bottom: 10px
}

.rounded-circle {
    margin: 80px 0;
    width: 320px;
    height: 320px;
    object-fit: cover
}

.border-bottom {
    border-bottom: 1px solid #b2b2b273 !important
}

.horizontal div {
    padding: 15px 40px;
}

.modal-body header h1, .modal-body header h3 {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300
}

.modal-body header {
    position: relative;
    padding: 20px
}

.modal-body header h1 {
    font-size: 20px
}

.modal-body header h3 {
    font-size: 16px
}

.modal-body header .product_image {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100px;
    height: 100px
}

.modal-body header .product_image img {
    width: 100%;
    vertical-align: middle;
    border-style: none
}

.description-text {
    text-align: center;
    font-size: 14px;
    color: #595959;
    padding: 20px 40px
}

.description-text p {
    font-size: 14px;
    text-align: justify;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 1rem
}

.accordion, .accordion-a {
    text-align: left;
    transition: .1s;
    cursor: pointer;
    outline: 0
}

.order-information h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #404040;
    font-weight: 300
}

footer {
    margin-top: 7rem;
    padding: 30px;
    background-color: #76871a;
    width: 100%;
    font-weight: bold;
}

footer .font-big {
    font-size: 1.3rem!important;
}

footer .row {
    margin: 0 !important;
    color: #fff !important
}

.link-dark {
    color: #000;
    font-weight: 400
}

.inline-nav li a {
    color: #d0d0d0;
    font-weight: 300
}

.inline-nav li a:hover {
    color: #76871a
}

.product-images {
    max-height: none!important;
    margin: 0 auto;
    width: 100%;
    height: auto
}

.separator--solid {
    border-bottom: 1px solid #ebedf2;
    margin: 30px 0
}

.order {
    display: flex;
    margin-top: 2rem
}

.order label {
    width: 15%;
}

.order input {
    height: 32px;
    padding: 3px;
    border-radius: 0
}

.order button {
    height: 32px;
    border: none;
    background-color: #768432;
    border-radius: 0;
    font-size: 14px;
    padding: 5px 20px
}

.accordion, .accordion-a, .category-accordion, .panel {
    background-color: #fafafafa
}

.fa {
    margin-right: 5px
}

.f-300 {
    font-weight: 300 !important
}

.f-400 {
    font-weight: 400 !important
}

.f-500 {
    font-weight: 500 !important
}

.link-dark:hover {
    color: #333
}

.brand-list {
    margin-top: 20px
}

.brand-list h2 {
    padding: 20px
}

.accordion-a {
    display: inline-block;
    color: #000;
    padding: 18px;
    width: 100%;
    border: none;
    font-size: 15px
}

.accordion-a:hover {
    color: #000 !important;
    font-weight: 700 !important
}

.accordion-a:after {
    color: #76871a;
    content: '\00bb';
    font-weight: 700;
    float: right;
    margin-left: 5px
}

.product-grid {
    padding: 50px 40px
}

.product-detail {
    padding: 40px 40px;
    border-left: 1px solid #ebedf2
}

.maromere .product-detail {
    border: none!important;
}

.accordion, .card {
    border: none
}

.product-detail img {
    width: 100% !important;
    max-height: 200px;
}

.maromere .product-detail img {
    max-height: 100%;
}

.product-detail ul {
    padding-bottom: 40px
}

.card-body {
    padding: 1.25rem 0
}

.card-body h6 {
    color: #000;
    font-weight: 300
}

.card-body i {
    padding-right: 5px;
    font-size: 16px
}

.card-title {
    margin: 0
}

.category-accordion {
    padding: 25px
}

.accordion {
    color: #000;
    padding: 18px;
    width: 100%;
    font-size: 15px
}

.accordion:hover, .category-accordion .active {
    font-weight: 700
}

.accordion:after {
    color: #76871a;
    content: '\002B';
    font-weight: 700;
    float: right;
    margin-left: 5px
}

.category-accordion .active:after {
    content: "\2212"
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out
}

.panel ul {
    padding: 15px 0 15px 30px;
    margin: 0
}

.panel ul li {
    padding: 5px
}

.panel ul a {
    color: #000
}

.page-link:hover, .panel ul li .link-active {
    color: #76871a
}

.panel ul li a:hover {
    cursor: pointer;
    color: #76871a
}

.pagination {
    font-size: 12px
}

.page-link {
    border-radius: 0;
    color: #333;
    border: none
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.page-item.active .page-link {
    background-color: #efefef;
    border: none;
    color: #000
}

.post-title {
    margin: 20px 0
}

.post-title h6 {
    margin: 0
}

.post-title p {
    font-size: .8rem
}

.post-title i {
    color: #76871a
}

.post-content {
    font-weight: 300
}

.post-content a {
    display: inline-block;
    font-weight: 400;
    outline: 0;
    padding-top: 8px
}

.post-content a:hover {
    border: none;
    background: #fff;
    color: #76871a
}

.product-list {
    margin-top: 5rem;
    margin-bottom: 6rem;
}

/* Navbar */
.bg-light {
    background-color: #ffffff !important;
}

.bg-dark {
    background-color: #000000 !important;
}

.custom-nav {
    font-family: "CP", cursive !important;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.top-nav {
    font-size: 0.99rem !important;
}

.custom-nav i {
    padding-right: 2px;
    font-size: 0.95rem;
}

.custom-nav .nav-item {
    margin-right: 8px;
}

.custom-nav .nav-link:hover {
    color: #5d6e18 !important;
}

.custom-nav .text-secondary:hover {
    color: #76871a !important;
}

.custom-nav .maromera-hover:hover {
    color: #6e6452 !important;
}

.navbar-collapse {
    flex-grow: 0;
}

.custom-nav .navbar-nav {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 768px) {

    .site-logo {
        width: 150px !important;
    }

    .maromere-product {
        margin-top: 40px
    }

    .maromere-header {
        width: 100%;
        padding: 40px
    }

    .maromere-header img {
        width: 100%
    }


    .modal-body header {
        padding: 10px 10px 10px 95px
    }

    .modal-body header h1, h3 {
        font-size: 14px
    }

    .modal-body header .product_image {
        position: absolute;
        width: 75px;
        height: 75px;
        top: 10px;
        left: 10px
    }

    .carousel-item img {
        height: 200px
    }

    .about {
        width: 100% !important
    }

    .about h2 {
        font-size: 1.2rem
    }

    .rounded-circle {
        width: auto !important;
        height: 200px !important
    }

    .maromere-text h1 {
        width: 80%;
        text-align: center;
        border-bottom: 2px solid #afa58a;
        line-height: 0.1em;
        margin: 0 auto;
    }

    footer {
        font-size: 14px !important
    }
}
