{% extends 'base.html' %}
{% load humanize %}
{% load thumbnail %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="title">
                <h2 class="text-secondary"><img src="https://img.icons8.com/color/48/000000/deciduous-tree.png">Category
                </h2>
            </div>

            <div class="category-accordion">
                {% for cat in categories %}
                    <button class="accordion">{{ cat }}</button>
                    <div class="panel">
                        <ul class="list-unstyled text-small border-top categories">
                            {% for child in cat.children.all %}
                                <li>
                                    <a href="{% url 'category:sub-detail' child.parent.slug child.slug %}">{{ child }}</a>
                                </li>
                            {% empty %}
                                <li>No subcategory in here.</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-sm-8 product-detail">
            <div class="row">
                <div class="post">
                    <div class="post-image">
                        <img src="/media/{{ object.thumbnail }}" width="100%" height="auto">
                    </div>

                    <div class="post-title">
                        <h6>{{ object.title }}</h6>
                        <p class="text-grey"><i class="fa fa-calendar"></i>{{ object.created_date|date:"Y-m-d" }}</p>
                    </div>

                    <div class="post-content">
                        {{ object.content|safe }}
                    </div>

                    <div class="separator--solid"></div>
                </div>
            </div>
        </div>
    </div>
    {% include 'layouts/brand_list.html' %}
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            let acc = document.getElementsByClassName("accordion");

            for (let i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    let panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                });
            }
        });

    </script>
{% endblock %}