{% extends 'base.html' %}
{% load humanize %}
{% load thumbnail %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            {% include 'layouts/category_sidebar.html' %}
        </div>

        <div class="col-sm-8 product-detail">
            <div class="row">
                <div class="post">
                    <div class="post-image">
                        <img src="/media/{{ object.thumbnail }}" width="100%" height="auto" alt>
                    </div>

                    <div class="post-title">
                        <h6>{{ object.title }}</h6>
                        <p class="text-grey"><i class="fa fa-calendar"></i>{{ object.created_date|date:"Y-m-d" }}</p>
                    </div>

                    <div class="post-content">
                        {{ object.content|safe }}
                    </div>

                    <div class="separator--solid"></div>
                </div>
            </div>
        </div>
    </div>
    {% include 'layouts/brand_list.html' %}
{% endblock %}
