{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
    <div class="product-list">
        <div class="title">
            <h2 class="text-secondary">
                <img src="{% static 'fonts/img/Tree.png' %}" style="padding-right: 10px;" height="40" alt>
                Special Product
            </h2>
        </div>
    </div>

    <div class="row horizontal">
        {% for special in special_products %}
            <div class="col-sm-4">
                {% thumbnail special.thumbnail "x200" crop="center" as img %}
                    <a href="{% url 'product-detail' special.id %}"><img class="card-img-top" src="{{ img.url }}" width="{{ img.width }}"
                                    height="{{ img.height }}">
                    </a>
                {% endthumbnail %}
            </div>
        {% endfor %}
    </div>

    <div class="about">
        <h2 class="text-secondary-black">
            <img src="{% static 'fonts/img/leaf_1.png' %}" style="padding-right: 5px" alt>
            About nature love
            <img src="{% static 'fonts/img/leaf_2.png' %}" alt>
        </h2>
        <p>Hope to share more awereness on more unique and better-quality products that will benefit and bring happiness
            to your families</p>

        <div>
            <img src="{% static 'fonts/img/circle.png' %}" class="rounded-circle" alt>
        </div>
    </div>

    {% include 'layouts/brand_list.html' %}
{% endblock %}

