{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}

    <div class="product-list">
        <div class="text-center mb-2">
            <h1 class="text-secondary-black">BEST ITEM</h1>
        </div>

        <div class="row">
            {% for special in special_products %}
                <div class="col-xl-4">
                    <a href="{% url 'product-detail' special.id %}">
                        <img class="card-img-top" src="/media/{{ special.thumbnail }}" alt>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="about">
        <h2 class="text-secondary-black">
            <img src="{% static 'fonts/img/leaf_1.png' %}" style="padding-right: 5px" alt>
            About nature love
            <img src="{% static 'fonts/img/leaf_2.png' %}" alt>
        </h2>
        <p>Hope to share more awereness on more unique and better-quality products that will benefit and bring happiness
            to your families</p>

        <div>
            <img src="{% static 'fonts/img/circle.png' %}" class="rounded-circle" alt>
        </div>
    </div>

    {% include 'layouts/brand_list.html' %}
{% endblock %}

